html .overflow {
  overflow: hidden;
}

body {
  width: 26.75rem;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Inter";
  border: solid 0.125rem orange;
}

header {
  width: 22.75rem;
  height: 2.25rem;
  margin: 2rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div img {
  width: 12.375rem;
  height: 2.25rem;
}

header div nav {
  width: 1.5rem;
  height: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div nav div {
  width: 1.5rem;
  height: 0.25rem;
  background-color: #999999;
  border-radius: 0.1875rem;
}

.hero {
  width: 100%;
  height: 28rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero div {
  padding-left: 0;
}

.hero div h4 {
  width: 10.6rem;
  height: 1.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.21rem;
  letter-spacing: 0.1em;
  color: #ff3998;
}

.hero div h1 {
  width: 17.125rem;
  height: 7.25rem;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6306rem;
  color: #111111;
}

.hero div p {
  width: 17.125rem;
  height: 7.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: #555555;
}

.hero div .SignUpBtn {
  width: 11.75rem;
  height: 4.6875rem;
  border-radius: 64px;
  background-image: url(/ca-atsiskaitymai/Karolis/images/SignUpBorder.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero div .SignUpBtn a {
  width: 4.75rem;
  height: 1.875rem;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  color: #111111;
}

.hero .alienImage {
  width: 10.9806rem;
  height: 17.375rem;
  position: relative;
  width: 11.8513rem;
  height: 17.375rem;
  left: 0.75rem;
  top: -18.75rem;
}

.hero .elipse1 {
  width: 18.75rem;
  height: 12.5rem;
  position: relative;
  left: -10rem;
  top: 10rem;
}

.hero .elipse2 {
  width: 18.75rem;
  height: 12.5rem;
  position: relative;
  left: -10rem;
  top: 2.5rem;
}

.upsell {
  width: 26.75rem;
  height: 20.375rem;
  margin-top: 5.045rem;
  background-image: url(images/background.png);
}

.upsell div {
  padding: 6.25rem 2rem 2rem 2rem;
}

.upsell div h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}

.upsell div p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
}

.press {
  width: 364px;
  height: 117px;
  padding: 64px 32px 56px 32px;
}

.press div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.press div .row1 {
  padding-bottom: 27.5504px;
}

.press div .boom {
  width: 208px;
  height: 40.4608px;
}

.press div .blimp {
  width: 154px;
  height: 46.1904px;
}

.press div .qrco {
  width: 132.72px;
  height: 45.9504px;
}

.press div .drop {
  width: 156.12px;
  height: 40.4704px;
}

.showcase {
  width: 22.75rem;
  height: 12.625rem;
  margin: 0%;
}

.showcase div {
  width: 100%;
  height: 100%;
  margin: 0rem 2rem 0rem 2rem;
}

.showcase div h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}

.showcase div p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: #555555;
  text-align: justify;
}

.showcase div span {
  color: inherit;
}

.showcase div span a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */