//GENERAL PROPERTIES

.overflow {
  overflow: hidden;
}

body {
  width: 26.75rem;
  border-radius: 1rem;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Inter";
  //Delete below
  border: solid 0.125rem orange;
}

@mixin d-flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

$font: "Inter";

//HEADER
//NAVBAR
header {
  width: 22.75rem;
  height: 2.25rem;
  margin: 2rem;
  .headerFlex {
    width: 100%;
    @include d-flex(center, space-between, row);
    img {
      width: 12.375rem;
      height: 2.25rem;
    }
    .burger {
      width: 1.5rem;
      height: 1.375rem;
      @include d-flex(center, space-around, column);
    }
    .burger > div {
      width: 1.5rem;
      height: 0.25rem;
      background-color: #999999;
      border-radius: 0.1875rem;
    }
    .menuFull {
      display: none;
    }
  }
}

//HERO
//LEFT TEXT
//RIGHT IMAGE
.hero {
  width: 100%;
  height: 28rem;
  margin-left: 2rem;
  @include d-flex(center, space-between, row);
  div {
    padding-left: 0;
    h4 {
      width: 10.6rem;
      height: 1.1875rem;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.21rem;
      letter-spacing: 0.1em;
      color: #ff3998;
    }
    h1 {
      width: 17.125rem;
      height: 7.25rem;
      font-style: normal;
      font-weight: 900;
      font-size: 3rem;
      line-height: 3.6306rem;
      color: #111111;
    }
    p {
      width: 17.125rem;
      height: 7.5rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 150%;
      color: #555555;
    }
    .SignUpBtn {
      width: 11.75rem;
      height: 4.6875rem;
      border-radius: 64px;
      background-image: url(/ca-atsiskaitymai/Karolis/images/SignUpBorder.jpg);
      @include d-flex(center, center, row);
      a {
        width: 4.75rem;
        height: 1.875rem;
        text-decoration: none;
        font-family: inherit;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 150%;
        color: #111111;
      }
    }
  }
  //RIGHT IMAGE
  .alienImage {
    width: 10.9806rem;
    height: 17.375rem;
    position: relative;
    width: 11.8513rem;
    height: 17.375rem;
    left: 0.75rem;
    top: -13.75rem;
  }
  .elipse1 {
    width: 166.86px;
    height: 166.86px;
    background: #ff3998;
    filter: blur(110.737px);
    position: relative;
    top: 8rem;
    left: 4rem;
  }
  .elipse2 {
    width: 116.05px;
    height: 116.05px;
    background: linear-gradient(0deg, #ff8139, #ff8139), #ff8139;
    filter: blur(110.737px);
    position: relative;
    top: 4rem;
    left: 4rem;
  }
}

//UPSELL
.upsell {
  width: 26.75rem;
  height: 20.375rem;
  margin-top: 5.045rem;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: auto;

  div {
    padding: 6.25rem 2rem 2rem 2rem;

    h1 {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3rem;
      margin: 0;
    }
    p {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 150%;
    }
  }
}

//PRESS
.press {
  width: 364px;
  height: 117px;
  padding: 64px 32px 56px 32px;
  .row1 {
    @include d-flex(center, space-between, row);
    flex: 1;
    flex-wrap: wrap;
    padding-bottom: 27.5504px;

    .booms {
      width: 208px;
      height: 40.4608px;
    }
    .fullScreen {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .blimp {
      width: 154px;
      height: 46.1904px;
    }
    .qrco {
      width: 132.72px;
      height: 45.9504px;
    }
    .drop {
      width: 156.12px;
      height: 40.4704px;
    }
  }
}

//SHOWCASE
.showcase {
  width: 22.75rem;
  margin: 0rem 2rem 0rem 2rem;
  .showcaseText {
    width: 100%;
    height: 100%;
    h1 {
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 3rem;
      margin: 0;
      padding-bottom: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 150%;
      color: #555555;
      text-align: justify;
      margin: 0;
      padding-bottom: 2.5rem;
    }

    span {
      color: inherit;
      a {
        color: inherit;
      }
    }
  }
  .cardBox {
    @include d-flex(flex-end, flex-start, row);
    gap: 2.5rem;
    padding-bottom: 5.75rem;
    .card {
      width: 18.125rem;
      height: 25rem;
      background-color: #eeeeee;
      border-radius: 1rem;
      // margin: 40px 20px 92px 32px;

      .imgcard {
        width: 18.125rem;
        height: 17.375rem;
      }
      .cardTable {
        @include d-flex(center, space-between, row);
        padding: 1.5rem 1.4375rem 1.5rem 1.5rem;

        .cardTableLeft {
          @include d-flex(flex-start, center, column);
          gap: 0.75rem;
          .tier1Left {
            width: 5.375rem;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 100%;
            text-transform: uppercase;
            color: #ff8139;
          }
          .name {
            width: 6.8125rem;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: #111111;
          }
          .nftNr {
            width: 4.0625rem;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #777777;
          }
        }
        .cardTableRight {
          @include d-flex(flex-end, center, column);
          gap: 0.75rem;
          .tier1Right {
            width: 3rem;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 100%;
            color: #777777;
          }
          .price {
            width: 100px;
            font-weight: 500;
            font-size: 1.1875rem;
            line-height: 100%;
            color: #111111;
            .ethLogo {
              width: 0.8125rem;
              height: 1.375rem;
            }
          }
          .timeLeft {
            width: 4.875rem;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 100%;
            color: #777777;
          }
        }
      }
    }
  }
}

//DIVIDER
.divider {
  width: 100%;
  height: 0.125rem;
  background-color: #eeeeee;
  margin-bottom: 4rem;
}
//FOOTER UPSELL
.fUpsell {
  @include d-flex(center, center, row);
  width: 100%;
  height: 28rem;
  margin-left: 2rem;
  padding-bottom: 75px;
  div {
    padding-left: 0;
    h4 {
      width: 10.6rem;
      height: auto;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.21rem;
      letter-spacing: 0.1em;
      color: #ff3998;
      padding-top: 64px;
      padding-bottom: 24px;
      margin: 0;
    }
    h1 {
      width: 274px;
      height: auto;
      font-style: normal;
      font-weight: 900;
      font-size: 56px;
      line-height: 3.6306rem;
      color: #111111;
      margin: 0;
      padding-bottom: 24px;
    }
    p {
      width: 207px;
      height: auto;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #555555;
      margin: 0;
      padding-bottom: 24px;
    }
    .SignUpBtn {
      width: 11.75rem;
      height: 4.6875rem;
      border-radius: 64px;
      background-image: url(/ca-atsiskaitymai/Karolis/images/SignUpBorder.jpg);
      @include d-flex(center, center, row);
      a {
        width: 4.75rem;
        height: 1.875rem;
        text-decoration: none;
        font-family: inherit;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 150%;
        color: #111111;
      }
    }
  }
  //RIGHT IMAGE
  .greenLady {
    width: 206px;
    height: 467px;
    position: relative;
    top: 67px;
    left: -42px;
  }
}

//FOOTER
.footer {
  .container {
    padding: 0 163px 64px 32px;
    margin: 0;
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
    }
    .SocialMedia {
      @include d-flex(center, space-between, row);
      width: 118px;
    }
    .footerLinksContainer {
      .footerLinks {
        @include d-flex(flex-start, space-between, row);
        width: 260px;

        ul {
          list-style: none;
          padding: 0;
          div {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            padding-bottom: 28px;
          }
          li {
            padding-bottom: 8px;
            a {
              text-decoration: none;
              color: #555555;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding-left: 32px;
    padding-bottom: 105px;
    width: 268px;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: #999999;
  }
  .launching {
    visibility: hidden;
    padding-bottom: 105px;  
    width: 225px;
    height: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #999999;
  }
}

@media screen and (min-width: 480px) {
  body {
    .overflow {
      overflow: visible;
    }
    width: 1280px;
    padding: 70px 80px 0px 80px;
    margin: 0 auto;
    header {
      width: 100%;
      margin: 0%;
      padding-bottom: 205px;
      .headerFlex {
        //removing the burger menu
        .burger {
          display: none;
        }
        width: 100%;
        @include d-flex(center, space-between, row);
        .menuFull {
          @include d-flex(center, flex-end, row);
          list-style: none;
          gap: 1.75rem;
          li {
            a {
              text-decoration: none;
              color: #555555;
            }
            .signUp {
              color: #ff3998;
            }
          }
        }
      }
    }
    .hero {
      .heroLeft {
        width: 100%;
        height: 100%;
        h1 {
          width: 620px;
          height: 232px;
          font-weight: 900;
          font-size: 96px;
          line-height: 116px;
          margin: 0;
        }
        p {
          width: 537px;
          height: 60px;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
        }
      }
      .alienImagePos {
        position: relative;
        top: 7rem;
        left: -10rem;
        .elipse1 {
          width: 300px;
          height: 200px;
          background: #ff3998;
          filter: blur(50px);
          position: relative;
          top: 12rem;
          left: 3rem;
        }
        .elipse2 {
          width: 400px;
          height: 100px;
          background: linear-gradient(0deg, #ff8139, #ff8139), #ff8139;
          filter: blur(80px);
          position: relative;
          top: 12rem;
          left: -2rem;
        }
        .alienImage {
          width: 328px;
          height: 519px;
        }
      }
    }
    .upsell {
      width: 100%;
      margin-top: 182px;
    }
    .press {
      width: 100%;
      height: auto;
      padding: 120px 0 120px 0;
      .row1 {
        @include d-flex(center, space-between, row);
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
        .booms {
          display: none;
        }
        .boom {
          visibility: visible;
          width: 216.12px;
          height: 40.7px;
          padding: 0;
          margin: 0;
        }
        .OpenDoor {
          visibility: visible;
          width: 194.76px;
          height: 40.7px;
        }
      }
    }
    .showcase {
      width: 100%;
      margin: 0;
    }
    .fUpsell {
      width: 100%;
      div {
        width: 100%;
        h1 {
          width: 100%;
        }
        p {
          width: 537px;
        }
      }
      .greenLady {
        width: 12.875rem;
        height: 29.1875rem;
        position: relative;
        left: -200px;
      }
    }
    .footer {
      width: 100%;
      .container {
        width: 100%;
        @include d-flex(center, center, row);
        .footerLinksContainer {
          width: 100%;
          @include d-flex(flex-start, center, row);
          gap: 75px;
        }
      }
      .copyRightFooter {
        @include d-flex(center, space-between, row);
        .launching {
          visibility: visible;
        }
      }
    }
  }
}
