html .overflow {
  overflow: hidden;
}

body {
  width: 428px;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Inter";
  border: solid 2px orange;
}

header {
  width: 364px;
  height: 36px;
  margin: 32px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div img {
  width: 198px;
  height: 36px;
}

header div nav {
  width: 24px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div nav div {
  width: 24px;
  height: 4px;
  background-color: #999999;
  border-radius: 3px;
}

.hero {
  width: 100%;
  height: 448px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero div {
  padding-left: 0;
}

.hero div h4 {
  width: 169.6px;
  height: 19px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19.36px;
  letter-spacing: 0.1em;
  color: #ff3998;
}

.hero div h1 {
  width: 274px;
  height: 116px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58.09px;
  color: #111111;
}

.hero div p {
  width: 274px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
}

.hero div .SignUpBtn {
  width: 188px;
  height: 75px;
  border-radius: 4rem;
  background-image: url(/ca-atsiskaitymai/Karolis/images/SignUpBorder.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero div .SignUpBtn a {
  width: 76px;
  height: 30px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}

.hero .alienImage {
  width: 175.69px;
  height: 278px;
  position: relative;
  width: 189.62px;
  height: 278px;
  left: 12px;
  top: -300px;
}

.hero .elipse1 {
  width: 300px;
  height: 200px;
  position: relative;
  left: -160px;
  top: 160px;
}

.hero .elipse2 {
  width: 300px;
  height: 200px;
  position: relative;
  left: -160px;
  top: 40px;
}

.upsell {
  width: 428px;
  height: 326px;
  margin-top: 80.72px;
  background-image: url(images/background.png);
}

.upsell div {
  padding: 100px 32px 32px 32px;
}

.upsell div h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}

.upsell div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.press {
  width: 22.75rem;
  height: 7.3125rem;
  padding: 4rem 2rem 3.5rem 2rem;
  border: 1px solid black;
}

.press div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.press div .row1 {
  padding-bottom: 1.7219rem;
}

.press div .boom {
  width: 13rem;
  height: 2.5288rem;
}

.press div .blimp {
  width: 9.625rem;
  height: 2.8869rem;
}

.press div .qrco {
  width: 8.295rem;
  height: 2.8719rem;
}

.press div .drop {
  width: 9.7575rem;
  height: 2.5294rem;
}
/*# sourceMappingURL=style.css.map */